@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

%flex-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

%margin {
  margin-left: 100px;
  margin-right: 100px;
}

%margin-responsive-700 {
  margin-left: 60px;
  margin-right: 60px;
}

%font {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  @extend %font;

  h1 {
    font-size: 23px;
    font-weight: bold;
  }
}

.titulo {
  background-color: black;
  width: auto;
  height: 50px;
  @extend %flex-centrado;

  div {
    background-color: red;
    color: white;
    font-family: "Bangers", cursive;
    width: 200px;
    height: 100%;
    font-size: 45px;

    p {
      margin: 0px;
      text-align: center;
    }
  }
}

.fondo {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0px;

  @media (max-width: 800px) {
    height: 250px;
  }
  @media (max-width: 550px) {
    height: 150px;
  }

  img {
    width: 100vw;
    object-fit: fill;
    margin: -100px 0px 0px 0px;

    @media (max-width: 650px) {
      object-position: 0px 50px;
    }

    @media (max-width: 500px) {
      width: 150%;
      object-position: -90px 30px;
    }
  }
}

.caja-filtros {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  @extend %margin;

  @media (max-width: 550px) {
    margin-left: 50px;
  }

  .contenedor-filtros {
    display: flex;
    position: absolute;
    justify-content: flex-start;

    @media (max-width: 1100px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    @media (max-width: 900px) {
      width: 250px;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .search-texto {
      position: relative;
      border-bottom: solid black 2px;

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }

      .fas {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 15px;
      }

      ::placeholder {
        color: #7e7e7e;
        font-size: 20px;
        text-align: left;
        padding-inline-start: 10px;
      }

      #busqueda-por-texto {
        margin-left: 30px;
        width: 400px;
        height: 30px;
        border: none;
        margin-top: 10px;

        @media (max-width: 1200px) {
          width: 280px;
        }

        @media (max-width: 550px) {
          width: 200px;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .filtros {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 180px;
      font-weight: 600;
      @extend %font;

      @media (max-width: 1200px) {
        margin-bottom: 50px;
        margin-left: 80px;
      }

      @media (max-width: 1100px) {
        margin-left: -10px;
        margin-top: 30px;
      }

      @media (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media (max-width: 460px) {
        flex-direction: wrap;
        align-items: flex-start;
      }

      form {
        display: flex;
        justify-content: space-around;

        @media (max-width: 460px) {
          flex-direction: column;
          align-items: flex-start;
        }

        p {
          color: #6d6d6d;
          margin-left: 15px;
          font-size: 14px;
        }

        select {
          margin: 10px;
          border-style: none;
          font-size: 14px;
          font-weight: 600;
          width: 120px;
          @extend %font;
        }
      }

      #buscar {
        border-style: none;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 15px;
        margin-left: 15px;
        width: 100px;
        height: 40px;
        @extend %font;

        @media (max-width: 650px) {
          margin-top: 20px;
          margin-left: 10px;
        }

        &:hover {
          color: white;
          background-color: red;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}

.total-resultado {
  margin-bottom: 50px;
  margin-top: 100px;
  @extend %margin;

  @media (max-width: 1200px) {
    margin-top: 150px;
  }

  @media (max-width: 650px) {
    margin-top: 200px;
  }

  @media (max-width: 550px) {
    margin-left: 50px;
  }

  @media (max-width: 450px) {
    margin-top: 350px;
  }

  span {
    font-size: 14px;
    color: gray;
    font-weight: bold;
    margin-right: 15px;
  }
}

.contenedor-resultados {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
  @extend %margin;

  @media (max-width: 1200px) {
    justify-content: flex-start;
  }

  @media (max-width: 550px) {
    margin-left: 20px;
    margin-right: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    @extend %font;

    @media (max-width: 770px) {
      width: 150px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 550px) {
      width: 120px;
      flex-wrap: wrap;
    }

    &:hover {
      .imagen {
        transform: translateY(-20px);
        transition: 0.3s;
      }
    }

    .info {
      .nombre {
        font-size: 50px;
        color: #272727;
        font-size: 13px;
        font-weight: 600;
        @extend %font;
      }
    }

    h2 {
      font-size: 12px;
    }

    .imagen {
      overflow: hidden;
      box-shadow: 0px 15px 20px -10px gray;
      img {
        width: 100%;
      }
    }
  }

  .superheroe {
    width: 200px;
    height: 380px;
    background-color: red;
  }
}

.contenedor-detalle {
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    width: 100vw;
    margin-left: 20px;
  }
  

  #info-detalle-primaria {
    display: flex;
    margin: 10px 0px 60px 0px;

    @media (max-width: 700px) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    @media (max-width: 500px) {
      margin-left: 15px;
    }


    #info-detalle-primaria-imagen {
      width: 300px;
      img {
        width: 100%;
      }

      @media (max-width: 800px) {
        width: 250px;
      }

      @media (max-width: 550px) {
        width: 200px;
      }
    }

    #info-detalle-primaria-data {
      margin: 0 0 20px 50px;
      width: 400px;
      @extend %font;

      @media (max-width: 900px) {
        width: 280px;
      }

      @media (max-width: 700px) {
        width: 350px;
        margin-left: 0px;
        margin-top: 50px;
      }

      @media (max-width: 500px) {
        margin-left: 0px;
      }

      p {
        font-size: 15px;

        @media (max-width: 600px) {
          max-width: 250px;
        }
      }

      h2 {
        margin-top: 0px;
      }
    }
  }

  #info-detalle-secundaria {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    justify-content: flex-start;

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: 10px;
      margin-right: 0px;
    }

  }

  #info-tarjeta-personaje {
    margin: 10px;
  }
}

#info-detalle-secundaria-comics {
  display: flex;
  flex-wrap: wrap;

}

#info-detalle-secundaria-resultados {
  margin-bottom: 30px;

  @media (max-width: 500px) {
    margin-left: 10px;
  }

  span {
    font-size: 14px;
    color: gray;
    font-weight: bold;
    margin-right: 10px;
  }
}

.card-tarjeta-personaje {
  width: 170px;
  height: 380px;
  background-color: red;
  margin-right: 18px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  @media (max-width: 750px) {
    width: 150px;
    height: auto;
    flex-wrap: wrap;
  }

  @media (max-width: 550px) {
    width: 120px;
  }

  &:hover {
    .imagen {
      img {
        transform: scale(1.1);
        transition: 0.2s;
        overflow: hidden;
      }
    }
    .info {
      color: black;
      background-color: red;
      transition: 0.2s;
    }
  }

  .imagen {
    height: 66%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .info {
    height: 33%;
    background-color: black;
    color: white;
    font-size: 10px;
    .nombre {
      margin-left: 15px;
    }
  }
}

.paginador {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 100px;
  height: 50px;
  @extend %flex-centrado;

  button {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 5px;
    border: none;
    border-style: none;

    .fas {
      color: white;
      font-size: 20px;
    }
  }
}

.ver-pagina-actual {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: black;
  width: auto;
  height: 80px;
  @extend %flex-centrado;

  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: white;
  }
}

.oculto {
  display: none;
}
