@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
footer, .paginador, .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-resultados, .total-resultado, .caja-filtros {
  margin-left: 100px;
  margin-right: 100px;
}

.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data, .contenedor-resultados .card .info .nombre, .contenedor-resultados .card, .caja-filtros .contenedor-filtros .filtros #buscar, .caja-filtros .contenedor-filtros .filtros form select, .caja-filtros .contenedor-filtros .filtros, body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}
body h1 {
  font-size: 23px;
  font-weight: bold;
}

.titulo {
  background-color: black;
  width: auto;
  height: 50px;
}
.titulo div {
  background-color: red;
  color: white;
  font-family: "Bangers", cursive;
  width: 200px;
  height: 100%;
  font-size: 45px;
}
.titulo div p {
  margin: 0px;
  text-align: center;
}

.fondo {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0px;
}
@media (max-width: 800px) {
  .fondo {
    height: 250px;
  }
}
@media (max-width: 550px) {
  .fondo {
    height: 150px;
  }
}
.fondo img {
  width: 100vw;
  object-fit: fill;
  margin: -100px 0px 0px 0px;
}
@media (max-width: 650px) {
  .fondo img {
    object-position: 0px 50px;
  }
}
@media (max-width: 500px) {
  .fondo img {
    width: 150%;
    object-position: -90px 30px;
  }
}

.caja-filtros {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 550px) {
  .caja-filtros {
    margin-left: 50px;
  }
}
.caja-filtros .contenedor-filtros {
  display: flex;
  position: absolute;
  justify-content: flex-start;
}
@media (max-width: 1100px) {
  .caja-filtros .contenedor-filtros {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 900px) {
  .caja-filtros .contenedor-filtros {
    width: 250px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.caja-filtros .contenedor-filtros .search-texto {
  position: relative;
  border-bottom: solid black 2px;
}
@media (max-width: 1200px) {
  .caja-filtros .contenedor-filtros .search-texto {
    margin-bottom: 20px;
  }
}
.caja-filtros .contenedor-filtros .search-texto .fas {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 15px;
}
.caja-filtros .contenedor-filtros .search-texto ::placeholder {
  color: #7e7e7e;
  font-size: 20px;
  text-align: left;
  padding-inline-start: 10px;
}
.caja-filtros .contenedor-filtros .search-texto #busqueda-por-texto {
  margin-left: 30px;
  width: 400px;
  height: 30px;
  border: none;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .caja-filtros .contenedor-filtros .search-texto #busqueda-por-texto {
    width: 280px;
  }
}
@media (max-width: 550px) {
  .caja-filtros .contenedor-filtros .search-texto #busqueda-por-texto {
    width: 200px;
  }
}
.caja-filtros .contenedor-filtros .search-texto #busqueda-por-texto:focus {
  outline: none;
}
.caja-filtros .contenedor-filtros .filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 180px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .caja-filtros .contenedor-filtros .filtros {
    margin-bottom: 50px;
    margin-left: 80px;
  }
}
@media (max-width: 1100px) {
  .caja-filtros .contenedor-filtros .filtros {
    margin-left: -10px;
    margin-top: 30px;
  }
}
@media (max-width: 650px) {
  .caja-filtros .contenedor-filtros .filtros {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 460px) {
  .caja-filtros .contenedor-filtros .filtros {
    flex-direction: wrap;
    align-items: flex-start;
  }
}
.caja-filtros .contenedor-filtros .filtros form {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 460px) {
  .caja-filtros .contenedor-filtros .filtros form {
    flex-direction: column;
    align-items: flex-start;
  }
}
.caja-filtros .contenedor-filtros .filtros form p {
  color: #6d6d6d;
  margin-left: 15px;
  font-size: 14px;
}
.caja-filtros .contenedor-filtros .filtros form select {
  margin: 10px;
  border-style: none;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
}
.caja-filtros .contenedor-filtros .filtros #buscar {
  border-style: none;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin-left: 15px;
  width: 100px;
  height: 40px;
}
@media (max-width: 650px) {
  .caja-filtros .contenedor-filtros .filtros #buscar {
    margin-top: 20px;
    margin-left: 10px;
  }
}
.caja-filtros .contenedor-filtros .filtros #buscar:hover {
  color: white;
  background-color: red;
  outline: none;
  cursor: pointer;
}

.total-resultado {
  margin-bottom: 50px;
  margin-top: 100px;
}
@media (max-width: 1200px) {
  .total-resultado {
    margin-top: 150px;
  }
}
@media (max-width: 650px) {
  .total-resultado {
    margin-top: 200px;
  }
}
@media (max-width: 550px) {
  .total-resultado {
    margin-left: 50px;
  }
}
@media (max-width: 450px) {
  .total-resultado {
    margin-top: 350px;
  }
}
.total-resultado span {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  margin-right: 15px;
}

.contenedor-resultados {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .contenedor-resultados {
    justify-content: flex-start;
  }
}
@media (max-width: 550px) {
  .contenedor-resultados {
    margin-left: 20px;
    margin-right: 0px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.contenedor-resultados .card {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}
@media (max-width: 750px) {
  .contenedor-resultados .card {
    width: 150px;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .contenedor-resultados .card {
    width: 120px;
    flex-wrap: wrap;
  }
}
.contenedor-resultados .card:hover .imagen {
  transform: translateY(-20px);
  transition: 0.3s;
}
.contenedor-resultados .card .info .nombre {
  font-size: 50px;
  color: #272727;
  font-size: 13px;
  font-weight: 600;
}
.contenedor-resultados .card h2 {
  font-size: 12px;
}
.contenedor-resultados .card .imagen {
  overflow: hidden;
  box-shadow: 0px 15px 20px -10px gray;
}
.contenedor-resultados .card .imagen img {
  width: 100%;
}
.contenedor-resultados .superheroe {
  width: 200px;
  height: 380px;
  background-color: red;
}

.contenedor-detalle {
  display: flex;
  flex-direction: column;
}
@media (max-width: 550px) {
  .contenedor-detalle {
    margin-left: 20px;
  }
}
.contenedor-detalle #info-detalle-primaria {
  display: flex;
  margin: 10px 0px 60px 0px;
}
@media (max-width: 700px) {
  .contenedor-detalle #info-detalle-primaria {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .contenedor-detalle #info-detalle-primaria {
    margin-left: 25px;
  }
}
@media (max-width: 500px) {
  .contenedor-detalle #info-detalle-primaria {
    margin-left: 100px;
  }
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-imagen {
  width: 300px;
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-imagen img {
  width: 100%;
}
@media (max-width: 800px) {
  .contenedor-detalle #info-detalle-primaria #info-detalle-primaria-imagen {
    width: 250px;
  }
}
@media (max-width: 550px) {
  .contenedor-detalle #info-detalle-primaria #info-detalle-primaria-imagen {
    width: 200px;
  }
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data {
  margin: 0 0 20px 50px;
  width: 400px;
}
@media (max-width: 900px) {
  .contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data {
    width: 280px;
  }
}
@media (max-width: 700px) {
  .contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data {
    width: 400px;
    margin-left: 0px;
    margin-top: 50px;
  }
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data p {
  font-size: 15px;
}
@media (max-width: 600px) {
  .contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data p {
    max-width: 250px;
  }
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data h2 {
  margin-top: 0px;
}
.contenedor-detalle #info-detalle-secundaria {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .contenedor-detalle #info-detalle-secundaria {
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .contenedor-detalle #info-detalle-secundaria {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 100px;
    margin-right: 50px;
  }
}
.contenedor-detalle #info-tarjeta-personaje {
  margin: 10px;
}

#info-detalle-secundaria-comics {
  display: flex;
  flex-wrap: wrap;
}

#info-detalle-secundaria-resultados {
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  #info-detalle-secundaria-resultados {
    margin-left: 100px;
  }
}
#info-detalle-secundaria-resultados span {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  margin-right: 10px;
}

.card-tarjeta-personaje {
  width: 170px;
  height: 380px;
  background-color: red;
  margin-right: 18px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 750px) {
  .card-tarjeta-personaje {
    width: 150px;
    height: auto;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .card-tarjeta-personaje {
    width: 120px;
  }
}
.card-tarjeta-personaje:hover .imagen img {
  transform: scale(1.1);
  transition: 0.2s;
  overflow: hidden;
}
.card-tarjeta-personaje:hover .info {
  color: black;
  background-color: red;
  transition: 0.2s;
}
.card-tarjeta-personaje .imagen {
  height: 66%;
  overflow: hidden;
}
.card-tarjeta-personaje .imagen img {
  width: 100%;
}
.card-tarjeta-personaje .info {
  height: 33%;
  background-color: black;
  color: white;
  font-size: 10px;
}
.card-tarjeta-personaje .info .nombre {
  margin-left: 15px;
}

.paginador {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}
.paginador button {
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 5px;
  border: none;
  border-style: none;
}
.paginador button .fas {
  color: white;
  font-size: 20px;
}

.ver-pagina-actual {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

footer {
  background-color: black;
  width: auto;
  height: 80px;
}
footer p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
}

.oculto {
  display: none;
}

/*# sourceMappingURL=style.css.map */
