@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
footer, .paginador, .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-resultados, .total-resultado, .caja-filtros {
  margin-left: 100px;
  margin-right: 100px;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 23px;
  font-weight: bold;
}

.titulo {
  background-color: black;
  width: 100vw;
  height: 50px;
}
.titulo div {
  background-color: red;
  color: white;
  font-family: "Bangers", cursive;
  width: 200px;
  height: 100%;
  font-size: 45px;
}
.titulo div p {
  margin: 0px;
  text-align: center;
}

.fondo {
  width: 100vw;
  height: 400px;
  background-color: yellow;
  overflow: hidden;
}
.fondo img {
  width: 100%;
  position: relative;
  top: -150px;
}

.caja-filtros {
  padding-top: 20px;
  padding-bottom: 20px;
}
.caja-filtros .contenedor-filtros {
  display: flex;
  direction: wrap;
  position: absolute;
}
.caja-filtros .contenedor-filtros .filtros {
  display: flex;
}
.caja-filtros .contenedor-filtros .search-texto .fas {
  color: black;
  font-size: 20px;
  position: relative;
  left: 30px;
}
.caja-filtros .contenedor-filtros .search-texto ::placeholder {
  color: #7e7e7e;
  font-size: 20px;
  margin-left: 50px;
}
.caja-filtros .contenedor-filtros .search-texto #busqueda-por-texto {
  width: 600px;
  height: 50px;
  border: none;
  border-bottom: solid black 2px;
}

.total-resultado {
  margin-bottom: 30px;
  margin-top: 100px;
}
.total-resultado span {
  font-size: 13px;
  color: gray;
  font-weight: bold;
  margin-right: 20px;
}

.contenedor-resultados {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.contenedor-resultados .card {
  width: 200px;
  height: 380px;
  background-color: white;
  color: black;
  margin: 10px;
}
.contenedor-resultados .card:hover .imagen img {
  transform: translate(0, 20);
}
.contenedor-resultados .card h2 {
  font-size: 12px;
}
.contenedor-resultados .card p {
  font-size: 10px;
}
.contenedor-resultados .card .imagen {
  height: 300px;
  overflow: hidden;
}
.contenedor-resultados .card .imagen img {
  height: 100%;
}
.contenedor-resultados .superheroe {
  width: 200px;
  height: 380px;
  background-color: red;
}

.contenedor-detalle {
  display: flex;
  flex-direction: column;
}
.contenedor-detalle #info-detalle-primaria {
  display: flex;
  margin: 10px 0px 30px 0px;
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data {
  max-width: 600px;
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contenedor-detalle #info-detalle-primaria #info-detalle-primaria-data p {
  font-size: 15px;
}
.contenedor-detalle #info-detalle-secundaria {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}
.contenedor-detalle #info-detalle-secundaria #info-tarjeta-personaje {
  margin: 10px;
  background-color: red;
}
.contenedor-detalle #info-detalle-secundaria #info-tarjeta-personaje #info-tarjeta-personaje-name {
  background-color: yellow;
}

.paginador {
  height: 50px;
  margin-top: 10px;
  padding-bottom: 100px;
}
.paginador button {
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 5px;
  border: none;
  border-style: none;
}
.paginador button .fas {
  color: white;
  font-size: 20px;
}

footer {
  background-color: black;
  width: 100vw;
  height: 80px;
}
footer p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
}

.oculto {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
