@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

%flex-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

%margin {
  margin-left: 100px;
  margin-right: 100px;
}

%font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 23px;
  font-weight: bold;
}

.titulo {
  background-color: black;
  width: auto;
  height: 50px;
  @extend %flex-centrado;

  div {
    background-color: red;
    color: white;
    font-family: "Bangers", cursive;
    width: 200px;
    height: 100%;
    font-size: 45px;

    p {
      margin: 0px;
      text-align: center;
    }
  }
}

.fondo {
  width: auto;
  height: 400px;
  background-color: yellow;
  overflow: hidden;
  margin: 0px;

  img {
    width: 100%;
    position: relative;
    top: -150px;
  }
}

.caja-filtros {
  padding-top: 20px;
  padding-bottom: 20px;
  @extend %margin;

  .contenedor-filtros {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    flex-grow: 1;

    .filtros {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 100px;
      font-weight: 600;

      form {
        display: flex;


        p {
          color: rgb(73, 73, 73);
          margin: 15px;
        }

        select {
          margin: 10px;
          border-style: none;
          @extend %font;
          font-size: 15px;
          font-weight: 600;
          width: 120px;
        }
      }

      #buscar {
        border-style: none;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 15px;
        margin-left: 10px;
        width: 100px;
        height: 50px;
        @extend %font;
      }
    }

    .search-texto {
      position: relative;
      border-bottom: solid black 2px;

      .fas {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 15px;
      }

      ::placeholder {
        color: rgb(126, 126, 126);
        font-size: 20px;
        text-align: left;
        padding-inline-start: 10px;
        @extend %font;
      }
      #busqueda-por-texto {
        margin-left: 30px;
        width: 500px;
        height: 30px;
        border: none;
     
        margin-top: 10px;
      }
    }
  }
}

.total-resultado {
  @extend %margin;
  margin-bottom: 30px;
  margin-top: 100px;
  @extend %font;

  span {
    font-size: 15px;
    color: gray;
    font-weight: bold;
    margin-right: 20px;
  }
}

.contenedor-resultados {
  @extend %margin;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .card {
    width: 200px;
    height: 380px;
    background-color: white;
    color: black;
    margin: 10px;

    &:hover {
      .imagen {
        img {
          transform: translate(0, 20);
        }
      }
    }

    h2 {
      font-size: 12px;
    }

    p {
      font-size: 10px;
    }

    .imagen {
      height: 300px;
      overflow: hidden;

      img {
        height: 100%;
      }
    }
  }

  .superheroe {
    width: 200px;
    height: 380px;
    background-color: red;
  }
}

.contenedor-detalle {
  display: flex;
  flex-direction: column;
  #info-detalle-primaria {
    display: flex;
    margin: 10px 0px 30px 0px;

    #info-detalle-primaria-data {
      max-width: 600px;
      margin-left: 20px;

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      p {
        font-size: 15px;
      }
    }
  }

  #info-detalle-secundaria {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;

    #info-tarjeta-personaje {
      margin: 10px;
      background-color: red;
      #info-tarjeta-personaje-name {
        background-color: yellow;
      }
    }
  }
}

.paginador {
  height: 50px;
  @extend %flex-centrado;
  margin-top: 10px;
  padding-bottom: 100px;
  button {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 5px;
    border: none;
    border-style: none;
    .fas {
      color: white;
      font-size: 20px;
    }
  }
}

footer {
  background-color: rgb(0, 0, 0);
  width: auto;
  height: 80px;
  @extend %flex-centrado;

  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: white;
  }
}

.oculto {
  display: none;
}
