@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

%flex-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

%margin {
  margin-left: 100px;
  margin-right: 100px;
}

%font {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  @extend %font;

  h1 {
    font-size: 23px;
    font-weight: bold;
  }
}

.titulo {
  background-color: black;
  width: auto;
  height: 50px;
  @extend %flex-centrado;

  div {
    background-color: red;
    color: white;
    font-family: "Bangers", cursive;
    width: 200px;
    height: 100%;
    font-size: 45px;

    p {
      margin: 0px;
      text-align: center;
    }
  }
}

.fondo {
  width: auto;
  height: 400px;
  overflow: hidden;
  margin: 0px;
  img {
    width: 100%;
    position: relative;
    top: -150px;
  }
}

.caja-filtros {
  padding-top: 20px;
  padding-bottom: 20px;
  @extend %margin;

  .contenedor-filtros {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    flex-grow: 1;

    .search-texto {
      position: relative;
      border-bottom: solid black 2px;
     

      .fas {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 15px;
      }

      ::placeholder {
        color: #7e7e7e;
        font-size: 20px;
        text-align: left;
        padding-inline-start: 10px;
      }

      #busqueda-por-texto {
        margin-left: 30px;
        width: 500px;
        height: 30px;
        border: none;
        margin-top: 10px;

        &:focus {
          outline: none;
        }
      }
    }

    .filtros {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 100px;
      font-weight: 600;
      @extend %font;

      form {
        display: flex;
        justify-content: space-around;

        p {
          color: #6d6d6d;
          margin-left: 15px;
          font-size: 13px;
        }

        select {
          margin: 10px;
          border-style: none;
          font-size: 13px;
          font-weight: 600;
          width: 120px;
          @extend %font;
        }
      }

      #buscar {
        border-style: none;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 15px;
        margin-left: 10px;
        width: 100px;
        height: 50px;
        @extend %font;
      }
    }
  }
}

.total-resultado {
  margin-bottom: 30px;
  margin-top: 100px;
  @extend %margin;

  span {
    font-size: 15px;
    color: gray;
    font-weight: bold;
    margin-right: 20px;
  }
}

.contenedor-resultados {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
  margin-bottom: 20px;
  @extend %margin;

  .card {
    width: 200px;
    height: 380px;
    color: black;
    margin: 12px;
    cursor: pointer;
    @extend %font;

    &:hover {
      .imagen {
        transform: translateY(-20px);
        transition: 0.3s;
      }
    }

    .info {
      .nombre {
        font-size: 50px;
        color: #272727;
        font-size: 13px;
        font-weight: 600;
        @extend %font;
      }
    }

    h2 {
      font-size: 12px;
    }

    // p {
    //   font-size: 10px;
    // }

    .imagen {
      height: 300px;
      overflow: hidden;
      box-shadow: 0px 15px 20px -10px gray;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }
  }

  .superheroe {
    width: 200px;
    height: 380px;
    background-color: red;
  }
}

.contenedor-detalle {
  display: flex;
  flex-direction: column;

  #info-detalle-primaria {
    display: flex;
    margin: 10px 0px 60px 0px;

    #info-detalle-primaria-imagen {
      width: 350px;
      img {
        width: 100%;
      }
    }

    #info-detalle-primaria-data {
      margin: 0 0 0 50px;
      max-width: 600px;
      @extend %font;

      p {
        font-size: 15px;
      }

      h2 {
        margin-top: 0px;
      }
    }
  }

  #info-detalle-secundaria {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    p {
      font-size: 15px;
      color: gray;
      font-weight: bold;
      margin-right: 20px;
    }

    #info-tarjeta-personaje {
      margin: 10px;
    }
  }

  #info-detalle-secundaria-comics {
    display: flex;
    flex-wrap: wrap;
}


}

.card-tarjeta-personaje {
  width: 170px;
  height: 380px;
  background-color: red;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    .imagen {
      img {
        transform: scale(1.1);
        transition: 0.2s;
        overflow: hidden;
      }
    }
    .info {
      color: black;
      background-color: red;
      transition: 0.2s;
    }
  }

  .imagen {
    height: 66%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .info {
    height: 33%;
    background-color: black;
    color: white;
    font-size: 10px;
    .nombre {
      margin-left: 15px;
    }
  }
}

.paginador {
  height: 50px;
  margin-top: 10px;
  padding-bottom: 100px;
  height: 50px;
  @extend %flex-centrado;

  button {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 5px;
    border: none;
    border-style: none;

    .fas {
      color: white;
      font-size: 20px;
    }
  }
}

footer {
  background-color: black;
  width: auto;
  height: 80px;
  @extend %flex-centrado;

  p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    color: white;
  }
}

.oculto {
  display: none;
}
